/* Custom properties */
:root {
  --color-primary-400: #89806b;
  --color-primary-600: #625c51;

  --color-neutral-000: #ffffff;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f4f4f4;
  --color-neutral-400: #555555;
  --color-neutral-600: #333333;

  --ff-primary: 'Inter', sans-serif;

  --fs-200: 0.5rem; /* 8px */
  --fs-250: 0.625rem; /* 10px */
  --fs-300: 0.75rem; /* 12px */
  --fs-350: 0.875rem; /* 14px */
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.25rem; /* 20px */
  --fs-600: 2rem; /* 32px */
  --fs-700: 2.25rem; /* 36px */
  --fs-800: 3rem; /* 48px */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */
body {
  background-color: var(--color-neutral-100);
  font-family: var(--ff-primary);
  color: var(--color-neutral-600);
  letter-spacing: 0.03em;
}

.button {
  color: var(--color-neutral-100);
  background-color: var(--color-primary-400);
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
}

.button:hover {
  background-color: var(--color-primary-600);
}

.button--mobile {
  font-size: clamp(var(--fs-300), 3vw, var(--fs-400));
  margin-top: 2em;
}

.button--secondary {
  border-radius: 50px;
}

h1 {
  line-height: 2.75rem;
}

h6 {
  font-size: var(--fs-250);
}

p {
  color: var(--color-neutral-400);
  letter-spacing: 0.01em;
  line-height: 150%;
}

.color-accent {
  color: var(--color-primary-400);
}

/* Mobile layout */
header > .container,
section > .container,
footer > .container {
  padding-inline: clamp(1.5em, 10vw, 8em);
}

header > .container {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.hero-section {
  height: calc(100vh - 4em);
  display: grid;
  place-content: center;
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center;
}

.hero-section__arrow {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 1.5s ease-in infinite;
  animation-direction: alternate;
  opacity: 75%;
}

@keyframes bounce {
  from {
    bottom: 2em;
  }
  to {
    bottom: 1em;
  }
}

.projects-section__images {
  display: flex;
  justify-content: space-between;
  gap: 0.4em;
}

.projects-section__images--residential,
.projects-section__images--commercial {
  width: 50%;
  height: clamp(12em, 45vw, 20em);
}

.projects-section__images--residential {
  background-image: url(images/residential.jpg);
  background-size: cover;
  background-position: center;
}

.projects-section__images--commercial {
  background-image: url(images/commercial.jpg);
  background-size: cover;
  background-position: center;
}

.awards-section > .container {
  display: flex;
  place-content: center;
}

footer > .container {
  display: flex;
}

.footer-about {
  display: none;
}

.footer-sitemap,
.footer-contact {
  width: 50%;
}

.footer-copyright {
  text-align: center;
}

/* Desktop layout */
@media (min-width: 48em) {
  header > .container,
  section > .container,
  footer > .container {
    padding-inline: 6em;
  }

  .about-section > .container {
    display: flex;
  }

  .about-section__img,
  .projects-section__images {
    min-width: 60%;
  }

  .about-section__img {
    object-fit: cover;
  }

  .process-section > .container {
    display: flex;
  }

  .projects-section > .container {
    display: flex;
  }

  .about-section__img,
  .projects-section__images--residential,
  .projects-section__images--commercial {
    height: 30em; /* set minmax */
  }

  .awards-section > .container {
    display: flex;
  }

  .footer-about {
    display: block;
  }

  .footer-about,
  .footer-contact {
    max-width: 40%;
  }

  .footer-sitemap {
    width: 20%;
  }
}

/* Mobile styling */

/* Header */
header > .container {
  height: clamp(3em, 12vw, 4em);
}

.logo {
  color: var(--color-primary-400);
  font-size: clamp(var(--fs-300), 3vw, var(--fs-400));
  text-decoration: none;
  cursor: pointer;
}

.primary-nav {
  background-color: var(--color-primary-600);
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  padding-top: 3em;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
}

.close-menu {
  position: absolute;
  top: 1em;
  right: 1.5em;
  cursor: pointer;
}

.menu {
  cursor: pointer;
}

.open-menu {
  transform: translateX(0%);
}

.menu-arrow {
  display: inline-block;
}

.primary-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primary-nav a {
  color: var(--color-neutral-100);
  text-decoration: none;
  display: block;
  padding: 1em 2.5em;
}

.primary-nav a:hover {
  background-color: var(--color-primary-400);
}

.primary-nav .button {
  background-color: var(--color-primary-600);
  border-radius: 0;
}

/* Hero section */
.hero-section {
  position: relative;
  height: calc(100vh - 3em);
}

.hero-section::before {
  content: '';
  background-color: black;
  position: absolute;
  filter: opacity(50%);
  top: 0;
  width: 100%;
  height: calc(100vh - 3em);
}

.hero-section > .container {
  z-index: 1;
}

.hero-section__title {
  font-size: clamp(var(--fs-700), 11vw, var(--fs-800));
  color: var(--color-neutral-100);
  line-height: 1.25em;
}

/* About section */
.about-section,
.process-section,
.projects-section,
.cta-section,
.awards-section {
  padding-block: clamp(3em, 12vw, 5em);
}

.pre-title {
  color: var(--color-primary-400);
  font-size: var(--fs-250);
  margin: 2.5em 0 0.5em;
}

.pre-title::before {
  content: url(images/dots.svg);
  position: relative;
  margin-right: 0.75em;
  bottom: 1px;
}

.about-section__title,
.projects-section__title {
  font-size: clamp(var(--fs-500), 5vw, var(--fs-600));
  padding-block: 0.1em;
}

.about-section__info,
.projects-section__info {
  font-size: clamp(var(--fs-300), 3vw, var(--fs-400));
}

.about-section .button,
.projects-section .button {
  width: 100%;
  text-align: center;
}

/* Process section */
.process-section,
.cta-section {
  background-color: var(--color-neutral-200);
}

.process-section .container {
  display: grid;
  gap: 1.25em;
}

.card {
  background-color: var(--color-neutral-000);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 8em;
}

.card__step {
  position: absolute;
  color: var(--color-neutral-100);
  background-color: var(--color-primary-400);
  font-size: var(--fs-400);
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}

.card__inner {
  padding: 1em 3em;
  display: grid;
  align-content: center;
  height: 100%;
}

.card__title {
  font-size: clamp(var(--fs-400), 4vw, var(--fs-500));
  margin-bottom: 0.1em;
}

.card__info {
  font-size: clamp(var(--fs-300), 3vw, var(--fs-400));
}

/* Projects section */
.projects-section__images--residential,
.projects-section__images--commercial {
  position: relative;
  display: grid;
  align-items: end;
}

.projects-section__images--residential::before,
.projects-section__images--commercial::before {
  content: '';
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
}

.projects-section__images h3 {
  color: var(--color-neutral-100);
  font-size: clamp(var(--fs-400), 3vw, var(--fs-500));
  font-weight: normal;
  text-align: center;
  z-index: 1;
  margin-bottom: 0.5em;
}

/* CTA section */
.cta-section > .container {
  width: 100%;
  min-width: min(19em, 30em);
}

.cta-section__phrase {
  font-size: var(--fs-700);
}

.cta-section .color-accent {
  white-space: nowrap;
}

/* Awards section */
.awards-section {
  padding-block: 2em;
}

.awards-section > .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.awards-section__award {
  width: clamp(5.25em, 16vw, 8em);
  padding-block: 2em;
}

/* Footer */
footer {
  background-color: var(--color-primary-600);
  padding-bottom: 1em;
}

footer > .container {
  padding-block: 2em;
}

.footer__title {
  font-size: var(--fs-300);
  color: var(--color-neutral-100);
}

footer p,
footer a {
  font-size: var(--fs-250);
  color: var(--color-neutral-100);
  line-height: 1.5em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 0.75em;
  padding-top: 0.25em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  font-weight: bold;
}

.footer-contact__info {
  padding-top: 0.5em;
  line-height: 1.75em;
  white-space: nowrap;
}

.footer-contact a {
  display: inline-block;
  padding-top: 1em;
  margin-left: -1px;
  opacity: 75%;
}

.footer-contact a:hover {
  opacity: 100%;
}

.footer-copyright {
  font-size: var(--fs-200);
  color: var(--color-neutral-100);
  opacity: 50%;
}
