@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  background: #eeeeee;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: 7vh 1fr 5vh;
}

section h1 {
  font-size: 3em;
  text-transform: uppercase;
  line-height: 0.8em;
  text-align: right;
}

.link {
  color: #333333;
  text-decoration: none;
  font-family: "Libre", serif;
  font-style: italic;
  border-bottom: 1px solid #333333;
  padding-bottom: 1px;
}

.dot-color {
  color: #e05151;
}

.underline {
  border-bottom: 6px solid #e05151;
}

/* CONTENT */
header {
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

header .branding {
  color: #eeeeee;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav a {
  color: #eeeeee;
  text-decoration: none;
  margin-left: 2em;
}

section.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
  grid-template-areas:
    "box1 ."
    "box2 box2"
    "box3 box3";
}

section.projects h1 {
  grid-area: box1;
  margin: 1em 0;
}

section.projects ul {
  grid-area: box2;
}

section.projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.projects .project {
  height: 50vh;
  position: relative;
}

section.projects .project h2,
section.projects .project h3 {
  position: absolute;
  background: rgb(0, 0, 0, 0.8);
  color: #eeeeee;
  opacity: 0.9;
}

section.projects .project h2 {
  font-size: 2em;
  top: 200px;
  padding: 5px 15px;
}

section.projects .project h3 {
  top: 255px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.9em;
  padding: 5px 20px;
}

section.projects .all-projects {
  grid-area: box3;
}

.all-projects {
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0 3em;
}

section.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  align-items: center;
  height: 50vh;
  background: #e5e5e5;
}

section.contact .email {
  font-weight: bold;
  font-size: 0.8em;
}

section.contact .phone {
  font-size: 0.7em;
  font-weight: bold;
  margin: 0.2em 0 0.5em;
}

section.contact .address {
  font-size: 0.7em;
}

footer {
  background: #333333;
  color: #eeeeee;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
